<div style="padding: 10px; background-color: #AAAABB; color: #000000;">
    
    <div id='jqxWidget'>
        <div id='jqxTabs'>
            <ul>
                <li style="margin-left: 30px;">Client</li>
                <li>Server</li>
                <li>Ships</li>
                <li>Bases</li>
            </ul>
            <div style="padding: 10px;">
                <h4>Client Settings (AutoUpdate - Local Only)</h4>
                <table>
                    <!-- The variables changed by these inputs are declared in Data.js, and the change handlers to modify those variables are set up in gui.js  -->
                    
                    <tr><td>LERPRATE (0.1-1.0): </td><td> <input style="width: 100px;" type="range" id="LERPRATE" min="0.1" max="1" step="0.1" value="0.1" /></td></tr>
                    <tr><td>LERPRATEROT (0.1-1.0): </td><td> <input style="width: 100px;" type="range" id="LERPRATEROT" min="0.1" max="1" step="0.1" value="0.1" /></td></tr>
                    
                    <tr><td>Explode Shake Amplitude (<span id="_ShipExplodeShakeAmplitude"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipExplodeShakeAmplitude" min="1" max="500" value="100" onchange="_ShipExplodeShakeAmplitude.innerText=value"></td></tr>
                    <tr><td>Explode Shake Range (<span id="_ShipExplodeShakeRange"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipExplodeShakeRange" min="1" max="3000" value="200" onchange="_ShipExplodeShakeRange.innerText=value"></td></tr>

<!-- ship shatter -->
                    <tr><td>Ship Shatter Pieces (<span id="_ShipShatterPieces"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipShatterPieces" min="1" max="64" value="3" onchange="_ShipShatterPieces.innerText=value"></td></tr>
                    <tr><td>Ship Shatter Velocity Min (<span id="_ShipShatterVelocityMin"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipShatterVelocityMin" min="0" max="1000" value="30" onchange="_ShipShatterVelocityMin.innerText=value"></td></tr>
                    <tr><td>Ship Shatter Velocity Max (<span id="_ShipShatterVelocityMax"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipShatterVelocityMax" min="0" max="1000" value="100" onchange="_ShipShatterVelocityMax.innerText=value"></td></tr>
                    <tr><td>Ship Shatter Rotate Min (<span id="_ShipShatterRotateMin">0.</span>): </td><td> <input style="width: 100px;" type="range" id="ShipShatterRotateMin" min="0" max="20" step="0.1" value="2" onchange="_ShipShatterRotateMin.innerText=value"></td></tr>
                    <tr><td>Ship Shatter Rotate Max (<span id="_ShipShatterRotateMax"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipShatterRotateMax" min="0" max="20" step="0.1" value="4" onchange="_ShipShatterRotateMax.innerText=value"></td></tr>
                    <tr><td>Ship Shatter Fade Delay (<span id="_ShipShatterFadeDelay"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipShatterFadeDelay" min="0" max="30" value="1" onchange="_ShipShatterFadeDelay.innerText=value"></td></tr>
                    <tr><td>Ship Shatter Fade Duration (<span id="_ShipShatterFadeDuration"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipShatterFadeDuration" min="1" max="10" step="0.1" value="5" onchange="_ShipShatterFadeDuration.innerText=value"></td></tr>
<!-- end hip shatter -->

<!-- asteroid shatter -->
                    <tr><td>Asteroid Shatter Pieces (<span id="_AsteroidShatterPieces"></span>): </td><td> <input style="width: 100px;" type="range" id="AsteroidShatterPieces" min="1" max="64" value="5" onchange="_AsteroidShatterPieces.innerText=value"></td></tr>
                    <tr><td>Asteroid Shatter Velocity Min (<span id="_AsteroidShatterVelocityMin"></span>): </td><td> <input style="width: 100px;" type="range" id="AsteroidShatterVelocityMin" min="0" max="1000" value="0.1" onchange="_AsteroidShatterVelocityMin.innerText=value"></td></tr>
                    <tr><td>Asteroid Shatter Velocity Max (<span id="_AsteroidShatterVelocityMax"></span>): </td><td> <input style="width: 100px;" type="range" id="AsteroidShatterVelocityMax" min="0" max="1000" value="1" onchange="_AsteroidShatterVelocityMax.innerText=value"></td></tr>
                    <tr><td>Asteroid Shatter Rotate Min (<span id="_AsteroidShatterRotateMin">0.</span>): </td><td> <input style="width: 100px;" type="range" id="AsteroidShatterRotateMin" min="0" max="20" step="0.1" value="0" onchange="_AsteroidShatterRotateMin.innerText=value"></td></tr>
                    <tr><td>Asteroid Shatter Rotate Max (<span id="_AsteroidShatterRotateMax"></span>): </td><td> <input style="width: 100px;" type="range" id="AsteroidShatterRotateMax" min="0" max="20" step="0.1" value="1" onchange="_AsteroidShatterRotateMax.innerText=value"></td></tr>
                    <tr><td>Asteroid Shatter Fade Delay (<span id="_AsteroidShatterFadeDelay"></span>): </td><td> <input style="width: 100px;" type="range" id="AsteroidShatterFadeDelay" min="0" max="30" value="1" onchange="_AsteroidShatterFadeDelay.innerText=value"></td></tr>
                    <tr><td>Asteroid Shatter Fade Duration (<span id="_AsteroidShatterFadeDuration"></span>): </td><td> <input style="width: 100px;" type="range" id="AsteroidShatterFadeDuration" min="1" max="10" step="0.1" value="4" onchange="_AsteroidShatterFadeDuration.innerText=value"></td></tr>
<!-- end asteroid shatter -->

                    <tr><td>Ejecta Count (<span id="_ShipEjectaCount"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipEjectaCount" min="0" max="500" value="20" onchange="_ShipEjectaCount.innerText=value"></td></tr>
                    <tr><td>Ejecta Min Speed (<span id="_ShipEjectaMinSpeed"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipEjectaMinSpeed" min="0" max="1000" value="10" onchange="_ShipEjectaMinSpeed.innerText=value"></td></tr>
                    <tr><td>Ejecta Max Speed (<span id="_ShipEjectaMaxSpeed"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipEjectaMaxSpeed" min="0" max="1000" value="250" onchange="_ShipEjectaMaxSpeed.innerText=value"></td></tr>
                    <tr><td>Ejecta Fade Delay (<span id="_ShipEjectaFadeDelay"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipEjectaFadeDelay" min="0" max="30" value="8" onchange="_ShipEjectaFadeDelay.innerText=value"></td></tr>
                    <tr><td>Ejecta Fade Duration (<span id="_ShipEjectaFadeDuration"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipEjectaFadeDuration" min="1" max="10" step="0.1" value="1" onchange="_ShipEjectaFadeDuration.innerText=value"></td></tr>
                    <tr><td>Engine Min Alpha (<span id="_ShipEngineMinAlpha"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipEngineMinAlpha" min="0" max="1" value="0.7" step="0.01" onchange="_ShipEngineMinAlpha.innerText=value"></td></tr>
                    <tr><td>Engine Max Alpha (<span id="_ShipEngineMaxAlpha"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipEngineMaxAlpha" min="0" max="1" value="1" step="0.01" onchange="_ShipEngineMaxAlpha.innerText=value"></td></tr>
                    <tr><td>Engine Hertz (<span id="_ShipEngineHz"></span>): </td><td> <input style="width: 100px;" type="range" id="ShipEngineHz" min="0" max="4" step="0.1" value="3" onchange="_ShipEngineHz.innerText=value"></td></tr>
                    <tr><td>Projectile Speed (<span id="_ProjectileSpeed"></span>): </td><td> <input style="width: 100px;" type="range" id="ProjectileSpeed" min="0" max="16000" value="2000" onchange="_ProjectileSpeed.innerText=value"></td></tr>
                    <tr><td>Fire Spread Degrees (<span id="_FireSpreadDegrees"></span>): </td><td> <input style="width: 100px;" type="range" id="FireSpreadDegrees" min="0" max="45" value="15" onchange="_FireSpreadDegrees.innerText=value"></td></tr>
                </table>
                <script type="text/javascript">
                //Populate preview values for the above inputs
                $("input ").each(function(index, element) {
                    $('#_' + $(element).attr('id')).text($(element).val());
                });
                </script>
            </div>
            <div style="padding: 10px;">
                <h4>Server Settings</h4>
                <table>
                <tr><td>Fleet Limit: </td><td> <input style="width: 50px;" type="text" id="fleet_limit" value="40" /></td><td></td></tr>
                <tr><td>Fleet Credit Share percent: </td><td> <input style="width: 50px;" type="text" id="fleet_credit_share_percent" value="40" /></td><td></td></tr>
                <tr><td>Fleet Credit Share range: </td><td> <input style="width: 50px;" type="text" id="fleet_credit_share_range" value="40" /></td><td></td></tr>
                <tr><td>Fleet PVP Radius: </td><td> <input style="width: 50px;" type="text" id="fleet_pvp_radius" value="40" /></td><td></td></tr>

                <tr><td>Enemies (per/map): </td><td> <input style="width: 50px;" type="text" id="server_eparea" value="50" /></td><td></td></tr>
                <tr><td>Enemies repawn (per/sec): </td><td> <input style="width: 50px;" type="text" id="server_erespawn" value="1" /></td><td></td></tr>
                <tr><td>Asteroids (per/area min) (<span id="_server_asteroid_count_per_area_min"></span>):</td><td> <input style="width: 100px;" type="range" id="server_asteroid_count_per_area_min" min="0" max="100" value="0" step="1" onchange="_server_asteroid_count_per_area_min.innerText=value"></td><td></td></tr>
                <tr><td>Asteroids (per/area max) (<span id="_server_asteroid_count_per_area_max"></span>):</td><td> <input style="width: 100px;" type="range" id="server_asteroid_count_per_area_max" min="0" max="100" value="0" step="1" onchange="_server_asteroid_count_per_area_max.innerText=value"></td><td></td></tr>
                <tr><td>Asteroid radius min (<span id="_server_asteroid_radius_min"></span>):</td><td> <input style="width: 100px;" type="range" id="server_asteroid_radius_min" min="0" max="100" value="0" step="1" onchange="_server_asteroid_radius_min.innerText=value"></td><td></td></tr>
                <tr><td>Asteroid radius max (<span id="_server_asteroid_radius_max"></span>):</td><td> <input style="width: 100px;" type="range" id="server_asteroid_radius_max" min="0" max="1000" value="0" step="1" onchange="_server_asteroid_radius_max.innerText=value"></td><td></td></tr>
                <tr><td>Asteroid health min (<span id="_server_asteroid_health_min"></span>):</td><td> <input style="width: 100px;" type="range" id="server_asteroid_health_min" min="0" max="100" value="0" step="1" onchange="_server_asteroid_health_min.innerText=value"></td><td></td></tr>
                <tr><td>Asteroid health max (<span id="_server_asteroid_health_max"></span>):</td><td> <input style="width: 100px;" type="range" id="server_asteroid_health_max" min="0" max="1000" value="0" step="1" onchange="_server_asteroid_health_max.innerText=value"></td><td></td></tr>
                <tr><td>Asteroid damage percent minor (<span id="_server_asteroid_damage_percent_minor"></span>):</td><td> <input style="width: 100px;" type="range" id="server_asteroid_damage_percent_minor" min="0" max="100" value="0" step="1" onchange="_server_asteroid_damage_percent_minor.innerText=value"></td><td></td></tr>
                <tr><td>Asteroid damage percent major (<span id="_server_asteroid_damage_percent_major"></span>):</td><td> <input style="width: 100px;" type="range" id="server_asteroid_damage_percent_major" min="0" max="100" value="0" step="1" onchange="_server_asteroid_damage_percent_major.innerText=value"></td><td></td></tr>
                <tr><td>Asteroid damage percent critical (<span id="_server_asteroid_damage_percent_critical"></span>):</td><td> <input style="width: 100px;" type="range" id="server_asteroid_damage_percent_critical" min="0" max="100" value="0" step="1" onchange="_server_asteroid_damage_percent_critical.innerText=value"></td><td></td></tr>
                </table>
                <br>
                <button id="bUpdateServer" class="btn">Update Server</button>
            </div>
            <div style="padding: 10px;">
                <h4>Ship Template Settings</h4>
                <table>
                    <tr><td style="width:200px;">Name: </td><td><div id="ShipTemplateListCombo">...</div>    
                        <!--<input style="width: 150px;" type="text" id="ship_name" value="Ship1" />-->
                    </td><td style="width:70px; text-align: right;"><!--<button id="bDeleteShipTemplate" class="btn">Delete</button>--></td></tr>
                    <tr><td>MaxSpeed (pixels/sec): </td><td> <input style="width: 80px;" type="text" id="ship_speed" value="500" /></td><td></td></tr>
                    <tr><td>RotRate (degrees/sec): </td><td> <input style="width: 80px;" type="text" id="ship_rot_accelerate" value="300" /></td><td></td></tr>
                    <tr><td>Accelerate (secs): </td><td> <input style="width: 80px;" type="text" id="ship_accelerate" value="0.2" /></td><td></td></tr>
                    <tr><td>FireDrop%: </td><td> <input style="width: 80px;" type="text" id="ship_firedrop" value="50" /></td><td></td></tr>
                    <tr><td>FireDropR%: </td><td> <input style="width: 80px;" type="text" id="ship_firedropr" value="50" /></td><td></td></tr>
                    <tr><td>health: </td><td> <input style="width: 80px;" type="text" id="ship_health" value="100" /></td><td></td></tr>
                    <tr><td>MoveRadius: </td><td> <input style="width: 80px;" type="text" id="ship_marea" value="100" /></td><td></td></tr>
                    <tr><td>MoveRadiusMax: </td><td> <input style="width: 80px;" type="text" id="ship_marea_max" value="100" /></td><td></td></tr>
                    <tr><td>hitbox: </td><td> <input style="width: 80px;" type="text" id="ship_hitbox" value="0" /></td><td></td></tr>
                </table>
                <br>    
                <button id="bUpdateShipTemplate" class="btn">Update Ship Template</button>
                <button id="bUnlockShipTemplate" class="btn">Test purchase/unlock of ship</button>
                <button id="bPickShipTemplate" class="btn">ChooseShip</button>
                <button id="bFreeMoney" class="btn">Give 100k bank</button>
                <button id="bFreeTechPoints" class="btn">Give 5k TechPoints</button>
                <button id="bResetOwnedShips" class="btn">ResetOwnedShips</button>
                <button id="bResetOwnedTech" class="btn">ResetOwnedTech</button>
                <button id="bAddMissingTech" class="btn">Add missing tech</button>
                <button id="bCompleteMission" class="btn">Complete current mission</button>
                <button id="bClearWave" class="btn">Clear wave of enemies</button>
                <br>
                <button id="bRefreshListShipTemplate" class="btn">RefreshList</button>
                <br>
            </div>
            <div style="padding: 10px;">
                <h4>Bases</h4>
                <table>
                <tr><td>Radius/Loc: </td><td> <input style="width: 80px;" type="text" id="server_base_radius" value="1500" /></td><td></td></tr>
                <tr><td>RedZone: </td><td> <input style="width: 80px;" type="text" id="server_base_redzone" value="2000" /></td><td></td></tr>
                <tr><td>RedZone Drain: </td><td> <input style="width: 80px;" type="text" id="server_base_redzone_drain" value="10" /></td><td></td></tr>
                <tr><td>Spawn Range: </td><td> <input style="width: 80px;" type="text" id="server_base_spawn_range" value="250" /></td><td></td></tr>
                <tr><td>BaseHP: </td><td> <input style="width: 80px;" type="text" id="server_base_hp" value="1000" /></td><td></td></tr>
                </table>
                <br>
                <button id="bUpdateServerbases" class="btn">Update Bases</button>
            </div>   
        </div>   
    </div>
    <br>
    <div class="ccenter">
        <button id="bAdminDone" class="btn">Done</button>    
    </div>
    

</div>