<div id='CTitle' class="debug">HyperFleet.io - <span id="ServerStatus"></span> <a href="http://hyperfleet.io/" target="_blank">Learn More.</a></div>
<div id="smlogopos" style="padding: 5px;">
<!--a href="#"><img class="logosmall" src="img/logo_small.png" /></a-->
<input id="usernameEdit" class="game" type="text" style="position: fixed; margin: 0; background: #000000; color: #FFF;" hidden>
<button id="bdebug" class="debug btn">Debug</button>
<button id="respawn" class="debug btn">ReSpawn</button>
<button id="exitfleet" class="debug btn">flExit</button>
<!--button id="urlfleet" class="debug btn">flURL</button--> <!-- now part of the regular UI! -->
<!--<button id="bteamswap" class="debug btn">TeamSwap</button>-->
<button id="bAdmin" class="debug btn">Admin Panel</button>
<button id="bLogin" class="debug btn">Toggle Login</button><br>
<p style="color: white;" id="fleetURL" class="debug">http://hyperfleet.com</p>
</div>

<div id="cashOutPopup" class="game" style="position: fixed; margin: 0; left: calc(50% - 10em); width: 20em; top: 20%; padding: 0.5em; background: rgba(0,0,0,0.75)" hidden>
    <span style="color: #fff;">Enter wallet address:</span><br/>
    <input id="walletAddress" type="text" style="width: 19em;"><br/>
    <div style="width: 11em; margin-left: auto; margin-right: auto; margin-top: 0.5em;">
        <button id="sendToWallet" style="width: 5em; margin-right: 0.5em;">Send</button>
        <button id="cancelCashOut" style="width: 5em;">Cancel</button>
    </div>
</div>

<!--
<br><br>
<span id="tweaks" style="position: absolute; top: 30px; left: 0px;">
<table>
    <tr><td>LERPRATE (0.1-1.0): </td><td> <input style="width: 50px;" type="text" id="LERPRATE" value="0.1" /></td></tr>
    <tr><td>LERPRATEROT (0.1-1.0): </td><td> <input style="width: 50px;" type="text" id="LERPRATEROT" value="0.1" /></td></tr>
    <tr><td>MaxSpeed (pixels/sec): </td><td> <input style="width: 50px;" type="text" id="tweak_speed" value="500" /></td></tr>
    <tr><td>RotRate (degrees/sec): </td><td> <input style="width: 50px;" type="text" id="tweak_rot_accelerate" value="300" /></td></tr>
    <tr><td>Accelerate (secs): </td><td> <input style="width: 50px;" type="text" id="tweak_accelerate" value="0.2" /></td></tr>
    <tr><td>MoveRadius: </td><td> <input style="width: 50px;" type="text" id="tweak_marea" value="100" /></td></tr>
    <tr><td>FireDrop%: </td><td> <input style="width: 50px;" type="text" id="tweak_firedrop" value="50" /></td></tr>
    <tr><td>FireDropR%: </td><td> <input style="width: 50px;" type="text" id="tweak_firedropr" value="50" /></td></tr>
</table>
<br>    
<button id="send_tweak">Update My Ship</button>

</span>
-->


