<div style="margin: 0 auto; text-align: center; padding: 20px;">
    <img src="img/theGameBuilder.jpg" style="width: 300px; border: solid 4px #555555;" />
</div>
<div style="margin: 0 auto; text-align: center;">
    <h3 id="ServerStatus"></h3>
    <p><a href="http://thegamebuilder.com/" target="_blank">Click here to contact support.</a></p>
    <button class="bigbutton" id="bSignup">Sign Up</button>
    <button class="bigbutton" id="bLogin">Login</button>
</div>
