.jqx-rc-tl-mbluex
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.jqx-rc-tr-mbluex
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.jqx-rc-bl-mbluex
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jqx-rc-br-mbluex
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-mbluex
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-mbluex
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-mbluex
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-mbluex
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-mbluex
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.jqx-widget-mbluex {
    font-size: 12px; line-height: 17px;
    font-family: 'segoe ui', arial, sans-serif;
    color: inherit;
}
.jqx-widget-content-mbluex{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background-color: #252526;}
.jqx-widget-header-mbluex{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; color: #ffffff; border-color:#35353A; background-color:#3E3E42;}
.jqx-fill-state-normal-mbluex{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background: #3E3E42;}
.jqx-fill-state-hover-mbluex{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color:#1C97EA; color: #fff; background-color:#1C97EA;

}
.jqx-fill-state-focus-mbluex { border-color: #000; }
.jqx-fill-state-pressed-mbluex{border-color:#007ACC; color: #fff; background-color:#007ACC;

}
.jqx-fill-state-disabled-mbluex {
    color: #898989;
}
.jqx-input-mbluex {
    border-color: #35353A;
}
.jqx-scrollbar-state-normal-mbluex, .jqx-grid-bottomright-mbluex, .jqx-panel-bottomright-mbluex, .jqx-listbox-bottomright-mbluex{background-color:#3E3E42;}
.jqx-widget-mbluex .jqx-grid-column-header-mbluex, .jqx-grid-cell-mbluex, .jqx-widget-mbluex .jqx-grid-cell-mbluex, .jqx-widget-mbluex .jqx-grid-group-cell-mbluex, .jqx-grid-group-cell-mbluex{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #1C1C1E; background-color: #2A2A2C; color: #fff;}
.jqx-tabs-title-selected-bottom-mbluex, .jqx-tabs-selection-tracker-bottom-mbluex, .jqx-tabs-title-selected-top-mbluex, .jqx-tabs-selection-tracker-top-mbluex{color: #ffffff; border-color:#35353A; border-bottom:1px solid #252526; background:#007ACC}
.jqx-widget-mbluex .jqx-grid-cell-alt-mbluex, .jqx-widget-mbluex .jqx-grid-cell-sort-mbluex, .jqx-widget-mbluex .jqx-grid-cell-pinned-mbluex, .jqx-widget-mbluex .jqx-grid-cell-filter-mbluex, .jqx-grid-cell-sort-alt-mbluex, .jqx-grid-cell-filter-alt-mbluex, .jqx-grid-cell-pinned-mbluex, .jqx-grid-cell-alt-mbluex, .jqx-grid-cell-sort-mbluex{ background-color:#3E3E42; color: #fff;}
.jqx-menu-vertical-mbluex{background: #3E3E42; border-color: #3E3E42;}
.jqx-widget-mbluex .jqx-grid-cell-mbluex, .jqx-widget-mbluex .jqx-grid-column-header-mbluex, .jqx-widget-mbluex .jqx-grid-group-cell-mbluex { border-color: #35353A;}

.jqx-widget-mbluex .jqx-grid-column-menubutton-mbluex, .jqx-widget-mbluex .jqx-grid-column-sortascbutton-mbluex, .jqx-widget-mbluex .jqx-grid-column-sortdescbutton-mbluex, .jqx-widget-mbluex .jqx-grid-column-filterbutton-mbluex {
    background-color: transparent;
    border-color: #35353A;
}
.jqx-window-header-mbluex, .jqx-input-button-header-mbluex, .jqx-calendar-title-header-mbluex, .jqx-grid-mbluex .jqx-widget-header-mbluex, .jqx-grid-header-mbluex, .jqx-grid-column-header-mbluex {font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background: #3E3E42;}
.jqx-grid-column-menubutton-mbluex {
    background-image: url('images/metro-icon-down-white.png');
 }
.jqx-calendar-cell-today-mbluex {
    color: #35353A;
}

.jqx-widget-mbluex .jqx-grid-cell-selected-mbluex, .jqx-grid-cell-selected-mbluex{ background-color:#007ACC; border-color: #007ACC; font-size: 12px;  color:#fff;}
.jqx-widget-mbluex .jqx-grid-cell-hover-mbluex, .jqx-grid-cell-hover-mbluex{ background-color:#1C97EA; border-color: #1C97EA;}
 /*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton-mbluex {
    background-image: url('images/metro-icon-up-white.png');
 }
.jqx-grid-column-sortdescbutton-mbluex {
    background-image: url('images/metro-icon-down-white.png');
}
.jqx-checkbox-check-checked-mbluex{background:transparent url(images/check_white.png) center center no-repeat}
.jqx-checkbox-check-indeterminate-mbluex{background:transparent url(images/check_indeterminate_white.png) center center no-repeat}
.jqx-checkbox-hover-mbluex, .jqx-radiobutton-hover-mbluex {
    background-color: #3E3E42;
    border-color: #3E3E42;
}
.jqx-radiobutton-check-checked-mbluex {
    background: #fff;
    border-color: #fff;
}

.jqx-scrollbar-thumb-state-normal-horizontal-mbluex, .jqx-scrollbar-thumb-state-normal-mbluex {
    background: #686868; border-color: #686868;
}
.jqx-scrollbar-thumb-state-hover-horizontal-mbluex, .jqx-scrollbar-thumb-state-hover-mbluex {
    background: #9E9E9E; border-color: #9E9E9E;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-mbluex, .jqx-scrollbar-thumb-state-pressed-mbluex {
    background: #ffffff; border-color: #ffffff;
}
.jqx-scrollbar-button-state-normal-mbluex
{
    border: 1px solid #3E3E42; 
    background: #3E3E42;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-mbluex
{
    border: 1px solid #3E3E42;
    background: #3E3E42;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-mbluex
{
    border: 1px solid #3E3E42;
    background: #3E3E42;
}

/*icons*/
.jqx-window-collapse-button-mbluex
{
    background-image: url(images/metro-icon-up-white.png);
}
.jqx-window-collapse-button-collapsed-mbluex {
  background-image: url(images/metro-icon-down-white.png);
}
.jqx-icon-arrow-up-mbluex, .jqx-expander-arrow-bottom-mbluex, .jqx-menu-item-arrow-up-mbluex
{
    background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-arrow-down-mbluex, .jqx-expander-arrow-top-mbluex, .jqx-tree-item-arrow-expand-mbluex, .jqx-tree-item-arrow-expand-hover-mbluex, .jqx-menu-item-arrow-down-mbluex
{
    background-image: url('images/metro-icon-down-white.png');
}
.jqx-icon-arrow-left-mbluex, .jqx-menu-item-arrow-left-mbluex
{
    background-image: url('images/metro-icon-left-white.png');
}
.jqx-icon-arrow-right-mbluex, .jqx-menu-item-arrow-right-mbluex, .jqx-tree-item-arrow-collapse-mbluex, .jqx-tree-item-arrow-collapse-hover-mbluex
{
    background-image: url('images/metro-icon-right-white.png');
}
.jqx-tabs-arrow-left-mbluex, .jqx-tree-item-arrow-collapse-rtl-mbluex, .jqx-tree-item-arrow-collapse-hover-rtl-mbluex
{
    background-image: url('images/metro-icon-left-white.png');
}
.jqx-tabs-arrow-right-mbluex
{
    background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-up-selected-mbluex, .jqx-icon-arrow-up-selected-mbluex{background-image:url('images/metro-icon-up-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-mbluex, .jqx-icon-arrow-down-selected-mbluex{background-image:url('images/metro-icon-down-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-mbluex, .jqx-icon-arrow-left-selected-mbluex{background-image:url('images/metro-icon-left-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-mbluex, .jqx-icon-arrow-right-selected-mbluex{background-image:url('images/metro-icon-right-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-window-close-button-mbluex, .jqx-icon-close-mbluex, .jqx-tabs-close-button-mbluex, .jqx-tabs-close-button-hover-mbluex, .jqx-tabs-close-button-selected-mbluex{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}
.jqx-listbox-feedback-mbluex {
    border-top: 1px dashed #fff;
}

.jqx-scrollbar-mbluex .jqx-icon-arrow-up-selected-mbluex{background-image:url('images/metro-icon-up-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-mbluex .jqx-icon-arrow-down-selected-mbluex{background-image:url('images/metro-icon-down-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-mbluex .jqx-icon-arrow-left-selected-mbluex{background-image:url('images/metro-icon-left-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-mbluex .jqx-icon-arrow-right-selected-mbluex{background-image:url('images/metro-icon-right-white.png');background-repeat:no-repeat; background-position:center;}
.jqx-slider-button-mbluex
{
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.jqx-input-button-content-mbluex
{  
    font-size: 10px;
}
.jqx-dropdownlist-state-normal-mbluex, .jqx-dropdownlist-state-hover-mbluex, .jqx-dropdownlist-state-selected-mbluex,
.jqx-scrollbar-button-state-hover-mbluex, .jqx-scrollbar-button-state-normal-mbluex, .jqx-scrollbar-button-state-pressed-mbluex,
.jqx-scrollbar-thumb-state-normal-horizontal-mbluex, .jqx-scrollbar-thumb-state-hover-horizontal-mbluex, .jqx-scrollbar-thumb-state-pressed-horizontal-mbluex,
.jqx-scrollbar-thumb-state-normal-mbluex, .jqx-scrollbar-thumb-state-pressed-mbluex, .jqx-button-mbluex, .jqx-tree-item-hover-mbluex, .jqx-tree-item-selected-mbluex,
.jqx-tree-item-mbluex, .jqx-menu-item-mbluex, .jqx-menu-item-hover-mbluex, .jqx-menu-item-selected-mbluex, .jqx-menu-item-top-mbluex, .jqx-menu-item-top-hover-mbluex, 
.jqx-menu-item-top-selected-mbluex, .jqx-slider-button-mbluex, .jqx-slider-slider-mbluex
 {
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.jqx-switchbutton-mbluex {
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    border: 2px solid #35353A;
}
.jqx-switchbutton-thumb-mbluex {
    width: 12px;
    background: #000;
    border: 1px solid #000;
}
.jqx-switchbutton-label-on-mbluex {
    background: #007ACC;
    color: #007ACC;
}
.jqx-switchbutton-label-off-mbluex {
    background: #a6a6a6;
    color: #a6a6a6;
}

.jqx-switchbutton-wrapper-mbluex {
}
.jqx-grid-group-collapse-mbluex {
    background-image: url(images/metro-icon-right-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-collapse-rtl-mbluex
{
    padding-right: 0px;
    background-image: url(images/metro-icon-left-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-expand-mbluex, .jqx-grid-group-expand-rtl-mbluex
{
    padding-right: 0px;
    background-image: url(images/metro-icon-down-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-icon-arrow-first-mbluex, .jqx-icon-arrow-first-hover-mbluex, .jqx-icon-arrow-first-selected-mbluex
{
    background-image: url('images/metro-icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-mbluex, .jqx-icon-arrow-last-hover-mbluex, .jqx-icon-arrow-last-selected-mbluex
{
    background-image: url('images/metro-icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-mbluex.jqx-grid-cell-selected-mbluex>.jqx-grid-group-expand-mbluex,
.jqx-grid-cell-mbluex.jqx-grid-cell-hover-mbluex>.jqx-grid-group-expand-mbluex {
    background-image: url('images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-mbluex.jqx-grid-cell-selected-mbluex>.jqx-grid-group-collapse-mbluex,
.jqx-grid-cell-mbluex.jqx-grid-cell-hover-mbluex>.jqx-grid-group-collapse-mbluex {
    background-image: url('images/metro-icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-mbluex.jqx-grid-cell-selected-mbluex>.jqx-grid-group-collapse-rtl-mbluex,
.jqx-grid-cell-mbluex.jqx-grid-cell-hover-mbluex>.jqx-grid-group-collapse-rtl-mbluex {
    background-image: url('images/metro-icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-mbluex.jqx-grid-cell-selected-mbluex>.jqx-grid-group-expand-rtl-mbluex,
.jqx-grid-cell-mbluex.jqx-grid-cell-hover-mbluex>.jqx-grid-group-expand-rtl-mbluex {
    background-image: url('images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-grid-expand-button-mbluex {
    margin-top: 3px;
}
.jqx-icon-search-mbluex
{
    background-image: url(images/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-passwordinput-password-icon-mbluex, .jqx-passwordinput-password-icon-rtl-mbluex
{
    background-image: url(images/icon-showpassword-white.png) !important;
    background-repeat: no-repeat !important;
}
.jqx-icon-calendar-mbluex, .jqx-icon-calendar-hover-mbluex, .jqx-icon-calendar-pressed-mbluex {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-time-mbluex, .jqx-icon-time-hover-mbluex, .jqx-icon-time-pressed-mbluex {
    background-image: url('images/icon-time-white.png');
}
.jqx-icon-delete-mbluex
{
    background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-mbluex
{
    background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-mbluex
{
    background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-mbluex
{
    background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-mbluex
{
    background-image: url(images/search_white.png);
}
.jqx-icon-plus-mbluex
{
    background-image: url(images/plus_white.png);
}
.jqx-menu-minimized-button-mbluex {
   background-image: url('images/icon-menu-minimized-white.png');
}
.jqx-editor-toolbar-icon-mbluex {
    background: url('images/html_editor_white.png') no-repeat;
}
.jqx-layout-mbluex
{
    background-color: #35353A;
}
.jqx-layout-pseudo-window-pin-icon-mbluex
{
    background-image: url("images/pin-white.png");
}
.jqx-layout-pseudo-window-pinned-icon-mbluex
{
    background-image: url("images/pinned-white.png");
}
.jqx-scheduler-month-cell-mbluex, .jqx-scheduler-time-column-mbluex, .jqx-scheduler-toolbar-mbluex
{
    background: #35353A !important;
    color: #fff  !important;
}
.jqx-widget-mbluex .jqx-scheduler-middle-cell-mbluex, .jqx-scheduler-middle-cell-mbluex {
    border-bottom-color: #35353A !important;
}.jqx-widget-mbluex
{
  font-family: Segoe UI;
}
.jqx-widget-content-mbluex
{
  color: #ffffff;
  text-shadow: none;
  border-color: #000000;
  background: #000000;
  font-family: Segoe UI;
}
.jqx-widget-header-mbluex, .jqx-grid-mbluex .jqx-widget-header-mbluex
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #222222;
  background-color: #222222;
  background-image: -moz-linear-gradient(top, #222222, #222222);
  background-image: -ms-linear-gradient(top, #222222, #222222);
  background-image: -o-linear-gradient(top, #222222, #222222);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#222222), to(#222222));
  background-image: -webkit-linear-gradient(top, #222222, #222222);
  background-image: linear-gradient(top, #222222, #222222);
  background-image: linear-gradient(to bottom, #222222, #222222);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-grid-column-menubutton-mbluex, .jqx-widget-mbluex.jqx-grid-column-menubutton-mbluex
{
  border-color: #222222;
}
.jqx-grid-cell-mbluex, .jqx-widget-mbluex .jqx-grid-cell-mbluex
{
  background-color: #000000;
  color: #FFFFFF;
  text-shadow: none;
}
.jqx-fill-state-normal-mbluex
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #000000;
  background-color: #2B2B2B;
  background-image: -moz-linear-gradient(top, #2B2B2B, #3F3F3F);
  background-image: -ms-linear-gradient(top, #2B2B2B, #3F3F3F);
  background-image: -o-linear-gradient(top, #2B2B2B, #3F3F3F);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#2B2B2B), to(#3F3F3F));
  background-image: -webkit-linear-gradient(top, #2B2B2B, #3F3F3F);
  background-image: linear-gradient(top, #2B2B2B, #3F3F3F);
  background-image: linear-gradient(to bottom, #2B2B2B, #3F3F3F);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-button-mbluex
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-grid-selectionarea-mbluex
{
  border-color: #000000;
  background-color: #2B2B2B;
}
.jqx-widget-mbluex .jqx-grid-cell-sort-mbluex, .jqx-widget-mbluex .jqx-grid-cell-filter-mbluex, .jqx-widget-mbluex .jqx-grid-cell-pinned-mbluex, .jqx-grid-cell-sort-mbluex, .jqx-grid-cell-filter-mbluex, .jqx-grid-cell-pinned-mbluex
{
  background-color: #3E3E42;
  color: #000000;
  text-shadow: none;
}
.jqx-widget-mbluex .jqx-grid-cell-alt-mbluex, .jqx-widget-mbluex .jqx-grid-cell-sort-alt-mbluex, .jqx-widget-mbluex .jqx-grid-cell-pinned-alt-mbluex, .jqx-widget-mbluex .jqx-grid-cell-filter-alt-mbluex, .jqx-grid-cell-alt-mbluex, .jqx-grid-cell-sort-alt-mbluex, .jqx-grid-cell-filter-alt-mbluex
{
  background-color: #3E3E42;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-hover-mbluex, .jqx-widget-mbluex .jqx-grid-cell-hover-mbluex
{
  color: #ffffff;
  text-shadow: none;
  border-color: #000000;
  background-color: #828282;
  background-image: -moz-linear-gradient(top, #828282, #626363);
  background-image: -ms-linear-gradient(top, #828282, #626363);
  background-image: -o-linear-gradient(top, #828282, #626363);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#828282), to(#626363));
  background-image: -webkit-linear-gradient(top, #828282, #626363);
  background-image: linear-gradient(top, #828282, #626363);
  background-image: linear-gradient(to bottom, #828282, #626363);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-fill-state-pressed-mbluex, .jqx-widget-mbluex .jqx-grid-cell-selected-mbluex
{
  color: #ffffff;
  text-shadow: none;
  border-color: #000000;
  background-color: #3F3F3F;
  background-image: -moz-linear-gradient(top, #3F3F3F, #5B5B5B);
  background-image: -ms-linear-gradient(top, #3F3F3F, #5B5B5B);
  background-image: -o-linear-gradient(top, #3F3F3F, #5B5B5B);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3F3F3F), to(#5B5B5B));
  background-image: -webkit-linear-gradient(top, #3F3F3F, #5B5B5B);
  background-image: linear-gradient(top, #3F3F3F, #5B5B5B);
  background-image: linear-gradient(to bottom, #3F3F3F, #5B5B5B);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-switchbutton-label-on-mbluex
{
  color: #ffffff;
  text-shadow: none;
  border-color: #000000;
  background-color: #3F3F3F;
  background-image: -moz-linear-gradient(top, #3F3F3F, #5B5B5B);
  background-image: -ms-linear-gradient(top, #3F3F3F, #5B5B5B);
  background-image: -o-linear-gradient(top, #3F3F3F, #5B5B5B);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3F3F3F), to(#5B5B5B));
  background-image: -webkit-linear-gradient(top, #3F3F3F, #5B5B5B);
  background-image: linear-gradient(top, #3F3F3F, #5B5B5B);
  background-image: linear-gradient(to bottom, #3F3F3F, #5B5B5B);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-mbluex, .jqx-tabs-selection-tracker-top-mbluex
{
  color: #ffffff;
  text-shadow: none;
  border-color: #000000;
  border-bottom: 1px solid #000000;
  background-image: none ;
  background-color: #000000;
}
.jqx-tabs-title-selected-bottom-mbluex, .jqx-tabs-selection-tracker-bottom-mbluex
{
  color: #ffffff;
  text-shadow: none;
  border-color: #000000;
  border-top: 1px solid #000000;
  background-image: none ;
  background-color: #000000;
}
.jqx-splitter-splitbar-hover-mbluex
{
  background: #828282;
}
.jqx-splitter-splitbar-vertical-mbluex, .jqx-splitter-splitbar-horizontal-mbluex, .jqx-slider-track-horizontal-mbluex, .jqx-slider-track-vertical-mbluex
{
  background: #2B2B2B;
}
.jqx-splitter-collapse-button-horizontal-mbluex, .jqx-splitter-collapse-button-vertical-mbluex, .jqx-slider-rangebar-mbluex
{
  background: #3F3F3F;
}
.jqx-scrollbar-state-normal-mbluex
{
  background-color: #3E3E42;
  border-color: #3E3E42;
}
.jqx-grid-bottomright-mbluex, .jqx-panel-bottomright-mbluex, .jqx-listbox-bottomright-mbluex
{
  background-color: #3E3E42;
}
.jqx-scrollbar-thumb-state-normal-mbluex
{
  background-color: #686868;
  background-color: #686868;
  background-image: -moz-linear-gradient(left, #686868, #686868);
  background-image: -ms-linear-gradient(left, #686868, #686868);
  background-image: -o-linear-gradient(left, #686868, #686868);
  background-image: -webkit-gradient(linear, left top, right top, from(#686868), to(#686868));
  background-image: -webkit-linear-gradient(left, #686868, #686868);
  background-image: linear-gradient(left, #686868, #686868);
  background-image: linear-gradient(left right, #686868, #686868);
}
.jqx-scrollbar-thumb-state-normal-horizontal-mbluex
{
  background-color: #686868;
  background-color: #686868;
  background-image: -moz-linear-gradient(top, #686868, #686868);
  background-image: -ms-linear-gradient(top, #686868, #686868);
  background-image: -o-linear-gradient(top, #686868, #686868);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#686868), to(#686868));
  background-image: -webkit-linear-gradient(top, #686868, #686868);
  background-image: linear-gradient(top, #686868, #686868);
  background-image: linear-gradient(to bottom, #686868, #686868);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-mbluex
{
  background-color: #9E9E9E;
  border-color: #9E9E9E;
  background-image: -moz-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -ms-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -o-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -webkit-gradient(linear, left top, right top, from(#9E9E9E), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(left right, #9E9E9E, #9E9E9E);
}
.jqx-scrollbar-thumb-state-hover-horizontal-mbluex
{
  background-color: #9E9E9E;
  border-color: #9E9E9E;
  background-image: -moz-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -ms-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -o-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9E9E9E), to(#9E9E9E));
  background-image: -webkit-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(to bottom, #9E9E9E, #9E9E9E);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-mbluex
{
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left right, #ffffff, #ffffff);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-mbluex
{
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-mbluex
{
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-mbluex
{
  background-color: #3E3E42;
  border-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-mbluex
{
  background-color: #3E3E42;
  border-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-mbluex
{
  background: #ffffff;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-mbluex
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  border-radius-topleft: 0px;
}
.jqx-rc-tr-mbluex
{
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  border-radius-topright: 0px;
}
.jqx-rc-bl-mbluex
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius-bottomleft: 0px;
  border-radius-bottomleft: 0px;
}
.jqx-rc-br-mbluex
{
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius-bottomright: 0px;
  border-radius-bottomright: 0px;
}
.jqx-rc-t-mbluex
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jqx-rc-b-mbluex
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-r-mbluex
{
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-l-mbluex
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jqx-radiobutton-default-mbluex, .jqx-radiobutton-mbluex, .jqx-radiobutton-check-checked-mbluex, .jqx-radiobutton-hover-mbluex, .jqx-radiobutton-check-indeterminate-mbluex, .jqx-radiobutton-check-indeterminate-disabled-mbluex, .jqx-slider-button-mbluex
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-mbluex, .jqx-tooltip-mbluex, .jqx-tooltip-text-mbluex, .jqx-tooltip-main-mbluex
{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.jqx-grid-column-sortascbutton-mbluex, .jqx-expander-arrow-bottom-mbluex, .jqx-window-collapse-button-mbluex, .jqx-menu-item-arrow-up-mbluex, .jqx-menu-item-arrow-top-up-mbluex, .jqx-icon-arrow-up-mbluex
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-arrow-up-hover-mbluex
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-mbluex, .jqx-icon-arrow-up-selected-mbluex.jqx-expander-arrow-expanded-mbluex
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-grid-column-menubutton-mbluex, .jqx-grid-column-sortdescbutton-mbluex, .jqx-expander-arrow-top-mbluex, .jqx-window-collapse-button-collapsed-mbluex, .jqx-menu-item-arrow-down-mbluex, .jqx-menu-item-arrow-down-mbluex, .jqx-tree-item-arrow-expand-mbluex, .jqx-grid-group-expand-mbluex, .jqx-widget-mbluex .jqx-grid-group-expand-mbluex, .jqx-icon-arrow-down-mbluex
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-icon-arrow-down-hover-mbluex
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-mbluex, .jqx-icon-arrow-down-selected-mbluex
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-tabs-arrow-left-mbluex, .jqx-menu-item-arrow-top-left-mbluex, .jqx-grid-group-collapse-rtl-mbluex, .jqx-widget-mbluex .jqx-grid-group-collapse-rtl-mbluex, .jqx-icon-arrow-left-mbluex, .jqx-icon-arrow-down-left-mbluex
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-icon-arrow-left-hover-mbluex
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-menu-vertical-mbluex
{
  background: #252526;
}
.jqx-menu-item-arrow-left-selected-mbluex, .jqx-icon-arrow-left-selected-mbluex
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-tabs-arrow-right-mbluex, .jqx-menu-item-arrow-top-right-mbluex, .jqx-menu-item-arrow-collapse-mbluex, .jqx-grid-group-collapse-mbluex, .jqx-widget-mbluex .jqx-grid-group-collapse-mbluex, .jqx-icon-arrow-right-mbluex
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-icon-arrow-right-hover-mbluex
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-mbluex, .jqx-icon-arrow-right-selected-mbluex
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-window-close-button-mbluex, .jqx-tabs-close-button-mbluex, .icon-close-mbluex
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-mbluex
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-mbluex
{
  background-image: url('images/close_white.png');
}
.jqx-widget-mbluex .jqx-grid-column-header-mbluex, .jqx-widget-mbluex .jqx-grid-cell-mbluex, .jqx-widget-mbluex .jqx-grid-group-cell-mbluex, .jqx-grid-cell-mbluex
{
  border-color: #35353A;
}
.jqx-checkbox-check-checked-mbluex
{
  background-image: url('images/check_white.png');
}
.jqx-checkbox-check-indeterminate-mbluex
{
  background-image: url('images/check_indeterminate_white.png');
}
.jqx-tooltip-mbluex, .jqx-tooltip-main-mbluex
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
}
.jqx-combobox-content-mbluex, .jqx-input-mbluex
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #252526;
}
.jqx-combobox-input-mbluex
{
  color: #ffffff;
  text-shadow: none;
}
.jqx-input-content-mbluex
{
  color: #ffffff;
  text-shadow: none;
  background-color: #252526;
}
.jqx-fill-state-focus-mbluex, .jqx-popup-mbluex .jqx-fill-state-focus-mbluex
{
  border-color: #000000;
}
.jqx-popup-mbluex.jqx-listbox-mbluex, .jqx-popup-mbluex.jqx-calendar-mbluex,.jqx-menu-dropdown-mbluex,  .jqx-popup-mbluex.jqx-dropdownbutton-popup-mbluex
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #252526;
}
.jqx-menu-item-arrow-right-mbluex, .jqx-tree-item-arrow-collapse-mbluex
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-left-mbluex
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-tree-item-arrow-expand-mbluex
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-up-mbluex
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-left-mbluex
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-right-mbluex
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-bottom-mbluex
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-up-hover-mbluex
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-left-hover-mbluex
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-right-hover-mbluex
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-bottom-hover-mbluex
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-up-selected-mbluex
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-left-selected-mbluex
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-right-selected-mbluex
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-mbluex .jqx-icon-arrow-bottom-selected-mbluex
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-calendar-mbluex .jqx-icon-arrow-up-mbluex, .jqx-tabs-header-mbluex .jqx-icon-arrow-up-mbluex
{
}
.jqx-calendar-mbluex .jqx-icon-arrow-left-mbluex, .jqx-tabs-header-mbluex .jqx-icon-arrow-left-mbluex
{
}
.jqx-calendar-mbluex .jqx-icon-arrow-right-mbluex, .jqx-tabs-header-mbluex .jqx-icon-arrow-right-mbluex
{
}
.jqx-calendar-mbluex .jqx-icon-arrow-bottom-mbluex, .jqx-tabs-header-mbluex .jqx-icon-arrow-bottom-mbluex
{
}
.jqx-widget-mbluex .jqx-grid-cell-mbluex, .jqx-listitem-state-normal-mbluex, .jqx-menu-item-normal-mbluex, .jqx-tree-item-normal-mbluex, .jqx-calendar-cell-mbluex, .jqx-grid-cell-mbluex,.jqx-menu-vertical-mbluex .jqx-menu-item-top-normal-mbluex, .jqx-input-popup-mbluex .jqx-fill-state-normal-mbluex
{
  font-family: Segoe UI;
}
.jqx-widget-mbluex .jqx-grid-cell-hover-mbluex, .jqx-listitem-state-hover-mbluex, .jqx-menu-item-hover-mbluex, .jqx-tree-item-hover-mbluex, .jqx-calendar-cell-hover-mbluex, .jqx-grid-cell-hover-mbluex,.jqx-menu-vertical-mbluex .jqx-menu-item-top-hover-mbluex, .jqx-input-popup-mbluex .jqx-fill-state-hover-mbluex,.jqx-input-button-header-mbluex, .jqx-input-popup-mbluex .jqx-fill-state-pressed-mbluex,.jqx-input-button-header-mbluex
{
  font-family: Segoe UI;
}
.jqx-widget-mbluex  .jqx-grid-cell-selected-mbluex, .jqx-listitem-state-selected-mbluex, .jqx-menu-item-selected-mbluex, .jqx-tree-item-selected-mbluex, .jqx-calendar-cell-selected-mbluex, .jqx-grid-cell-selected-mbluex,.jqx-menu-vertical-mbluex .jqx-menu-item-top-selected-mbluex, .jqx-grid-selectionarea-mbluex
{
  font-family: Segoe UI;
}
.jqx-icon-calendar-mbluex
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-hover-mbluex
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-pressed-mbluex
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-mbluex
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-first-hover-mbluex
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-first-selected-mbluex
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-last-mbluex
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-icon-last-hover-mbluex
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-icon-last-selected-mbluex
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-mbluex>.jqx-grid-group-expand-mbluex
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-hover-mbluex>.jqx-grid-group-expand-mbluex
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-selected-mbluex>.jqx-grid-group-expand-mbluex
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-mbluex>.jqx-grid-group-collapse-mbluex
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-hover-mbluex>.jqx-grid-group-collapse-mbluex
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-selected-mbluex>.jqx-grid-group-collapse-mbluex
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-mbluex>.jqx-grid-group-expand-rtl-mbluex
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-hover-mbluex>.jqx-grid-group-expand-rtl-mbluex
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-selected-mbluex>.jqx-grid-group-expand-rtl-mbluex
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-mbluex>.jqx-grid-group-collapse-rtl-mbluex
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-hover-mbluex>.jqx-grid-group-collapse-rtl-mbluex
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-cell-mbluex.jqx-grid-cell-selected-mbluex>.jqx-grid-group-collapse-rtl-mbluex
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-column-menubutton-mbluex, .jqx-grid-column-sortdescbutton-mbluex
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-column-sortascbutton-mbluex
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-delete-mbluex
{
  background-image: url('images/metro-icon-delete-white.png');
}
.jqx-icon-edit-mbluex
{
  background-image: url('images/metro-icon-edit-white.png');
}
.jqx-icon-save-mbluex
{
  background-image: url('images/metro-icon-save-white.png');
}
.jqx-icon-cancel-mbluex
{
  background-image: url('images/metro-icon-cancel-white.png');
}
.jqx-icon-search-mbluex
{
  background-image: url('images/icon-search_white.png');
}
.jqx-icon-plus-mbluex
{
  background-image: url('images/icon-plus_white.png');
}
