
@font-face {
    font-family: Activa;
    src: url('../components/fonts/fonts/Activa.woff');
}

@font-face {
    font-family: Ad Lib;
    src: url('../components/fonts/fonts/Ad Lib.woff');
}

@font-face {
    font-family: Adobe Garamond;
    src: url('../components/fonts/fonts/Adobe Garamond.woff');
}


@font-face {
    font-family: Art Brush;
    src: url('../components/fonts/fonts/Art Brush.woff');
}

@font-face {
    font-family: Aurulent Sans;
    src: url('../components/fonts/fonts/Aurulent Sans.woff');
}

@font-face {
    font-family: 'Avant Garde Bold';
    src: url('../components/fonts/fonts/Avant Garde Bold.woff');
}

@font-face {
    font-family: 'BD Rocket 70';
    src: url('../components/fonts/fonts/BD Rocket 70.woff');
}

@font-face {
    font-family: 'Beinet Condensed';
    src: url('../components/fonts/fonts/Beinet Condensed.woff');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../components/fonts/fonts/Bebas Neue.woff');
}

@font-face {
    font-family: 'Bicyclete';
    src: url('../components/fonts/fonts/Bicyclete.woff');
}

@font-face {
    font-family: 'Big Nodle Titling';
    src: url('../components/fonts/fonts/Big Nodle Titling.woff');
}

@font-face {
    font-family: 'Blackadder ITC';
    src: url('../components/fonts/fonts/Blackadder ITC.woff');
}

@font-face {
    font-family: 'Badoni MT';
    src: url('../components/fonts/fonts/Badoni MT.woff');
}

@font-face {
    font-family: 'Badoni YU';
    src: url('../components/fonts/fonts/Badoni YU.woff');
}

@font-face {
    font-family: 'Cabin Sketch';
    src: url('../components/fonts/fonts/Cabin Sketch.woff');
}

@font-face {
    font-family: 'Calisto MT';
    src: url('../components/fonts/fonts/Calisto MT.woff');
}

@font-face {
    font-family: 'Cartoonic';
    src: url('../components/fonts/fonts/Cartoonic.woff');
}

@font-face {
    font-family: 'CentSchbook BT';
    src: url('../components/fonts/fonts/CentSchbook BT.woff');
}

@font-face {
    font-family: 'Century';
    src: url('../components/fonts/fonts/Century.woff');
}

@font-face {
    font-family: 'Bauhaus 93';
    src: url('../components/fonts/fonts/Bauhaus 93.woff');
}

@font-face {
    font-family: 'Bell MT';
    src: url('../components/fonts/fonts/Bell MT.woff');
}

@font-face {
    font-family: 'Berlin Sans FB';
    src: url('../components/fonts/fonts/Berlin Sans FB.woff');
}

@font-face {
    font-family: 'Britannic Bold';
    src: url('../components/fonts/fonts/Britannic Bold.woff');
}