@font-face {
  font-family: 'BlenderPro Medium';
  src: url('../fonts/BlenderPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BlenderPro-Medium.otf')  format('opentype'),
       url('../fonts/BlenderPro-Medium.woff') format('woff'),
       url('../fonts/BlenderPro-Medium.ttf')  format('truetype'),
       url('../fonts/BlenderPro-Medium.svg#BlenderPro-Medium') format('svg');
}