html, body
{
    min-width: 900px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    
    overflow: hidden;
}

* {
  margin:0;
}

#pixi-canvas{
    width: 100%;
    /*height: 100%*/
    height: calc(100vh - 100px);
}
.gbscr
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    width: 100%;
    /*height: 100%;*/
    display: none;
}

#CTitle{
    font-size: 15px;
    top: 0;
    left: 0;
    padding: 5px;
    width: 100%;
    margin: 0 auto;
    text-align: center; 
    color: #8ad0ff;
    /* background-color: #111111; */
    z-index: 100;
}

#smlogopos
{
    position:absolute;
    left: 0px;
    top: 0px;
}

.ccenter{
  margin: 0 auto;
  text-align: center;  
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}